@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>eWallet System</h1>
    <p class="lead">eWallet Operation System: System Configuration, Transaction Monitor, Operation Request Process, Customer Management and Finance Accouting.</p>
</div>

<div class="row">
</div>